<h1>Sign In</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class = "field">
		<%= f.label :handle %> <br />
		<%= f.text_field :handle %>
	</div>
	<div class = "field">
		<%= f.label :pass %> <br />
		<%= f.text_field :pass %>
	</div>
	<div class = "action">
		<%= f.submit "Sign In" %>
	</div>	
<% end %>

<p>New user? <%= link_to "Sign up now!", new_user_path %></p>