<% viewing = true %>
<% ConvoUser.find_all_by_convo_id(@convo.id).each do |convouser| %>
  <br><%= "#{convouser.user.handle}:" %> <%= "creator? #{convouser.creator}" %>
  <% viewing = false if convouser.user_id == current_user.id %>
<% end %>

<br>
<%= "participating" if viewing == false %>
<%= "viewing" if viewing == true %>
<br>
<%= "current turn: #{User.find_by_id(@convo.current_turn).handle}" if !@convo.current_turn.nil? %>

<h1>
Convo: <%= @convo.topic %> 
</h1>
created_at: <%= @convo.created_at %> 
and started_at <%= if @convo.start_time.nil? then "no start time" else @convo.start_time end %>

<ul class = "Convo_posts">
  <% @posts.each do |post| %>
    <%= "#{post.user.handle}: #{post.content}" %> <br> <br>
  <% end %>
</ul>

<% if (@posts.size==0 and @convo_user.nil?) or (@posts.size!=0 and current_user.id==@convo.current_turn) %>
  <%= form_for(Post.new) do |f| %>
	<%= f.hidden_field :convo_id, :value => @convo.id %>
	<div class = "field">
		<%= f.label :content %> <br />
		<%= f.text_field :content %>
	</div>
	<div class = "action">
		<%= f.submit "Submit" %>
	</div>	
  <% end %>
<% end %>

